{% extends 'base.html.twig' %}
{% block title %} Accueil {% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur ma site</h1>
        <p class="lead">The information bla bla.</p>
        <hr class="my-4">
        <p>Pour commencer vous devez faire une inscription.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>
</div>
{% endblock %}